@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700&display=swap');

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;

    font-family: 'Lato', sans-serif;
    transition: .2s;
}

.container {
    display: flex;
    justify-content: center;
    align-items: center;
   
    flex-direction: column;
    margin: 20px;
   
}

.keyboard_wrapp {
    max-width: 1008px;
    width: 100%;
  
    overflow: hidden;
    position: relative;
    overflow: hidden;
    order: 2;
}

.row {
    display: flex;
}

.keys {
    width: 60px;
    height: 60px;
    background-color: #fff;
    display: flex;
    flex-direction: column;
    gap: 10px;
    justify-content: center;
    align-items: center;
    margin: 4px;
    transition: .2s;
    z-index: 5;
    border:2px solid gray;
    border-radius: 5px;
    
}

.backspace {
    width: 120px;
}

.tab ,.slash,.option{
    width: 90px;
}


.caps_lock{
    width: 128px;
}

.enter,.control {
    width: 120px;
}

.shift{
    width: 155px;
}



.space{
    max-width: 600px;
    width: 100%;
}
.single_key{
    font-size: 30px;
}



.active {
  
    color: #fff;
}

.remove {
    animation: keys_animation 0.5s forwards ;
}

@keyframes keys_animation {
    0% {
        /* background-color: skyblue; */
        color: #fff;
    }
    100% {
        background-color: #fff;
        color: #000;
    }
}

/* body.active {
    background-color: rgb(54,54,54);
} */

