* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


.App {
  display: flex;
  flex-direction: column;

  text-align: center;
  background-color: whitesmoke;
  min-height: 100vh;
  width: 100%;
  
}
#bottom{
  display: flex;
  gap: 10px;
  justify-content: center;
 
  align-content: center;
}
.bottom_button{
  margin-top: 100px;
  display: flex;
  gap: 70px;
  align-items: center;
  justify-content: center;
}
.bottom_button>button{
  
  background-color:lightsteelblue; 
  border: none;
  color: white;
  padding: 10px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 16px;
  border-radius: 5px;
  cursor: pointer;
  
}
.bottom_button>button:first-child,.bottom_button>button:last-child {
  opacity: 0.6;
  cursor: not-allowed;
}


